*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --white: hsl(0, 0%, 100%);
    --lightGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    @import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;700&family=Nunito+Sans:wght@400;600&family=Open+Sans&family=Outfit:wght@400;700&family=Poppins:wght@300;400&family=Roboto&family=Rubik:wght@300;400;600;700&display=swap');
}

body{
    height: 100vh;
    width: 100%;
    font-family: 'Outfit', sans-serif;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: var(--lightGray);
}

.container{
    width: 340px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 16px;
}

.container #qrImg{
    width: 100%;
    padding: 15px;
    border-radius: 30px;
}

.container h2{
    margin: 20px auto;
    color: var(--darkBlue);
}

.container p{
    width: 250px;
    color: var(--grayishBlue);
    font-size: 15px;
    line-height: 1.6;
}